.faqContainer {
    padding: 0 2rem;
    height: 60vh;

    h1 {
        margin: 40px 0;
        text-align: center;
    }
    p {
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .faqContainer {
        height: 100vh;
        margin-bottom: 200px;
    }
}