@import '../../app/variables.module.scss';
.addItemContainer {
    padding: 0 2rem;

    h1 {
        color: $primary-color;
        margin: 40px 0;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    .uploadContainer {
        position: relative;
        overflow: hidden;
        display: inline-block;

    }

    .customUpload {
        width: 350px;
        height: 350px;
        border: 1px solid #909191;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        .uploadIcon {
            font-size: 100px;
            color: #DDDDDD;
        }

        
    }

    .image {
        position: relative;
        width: 350px;
        height: 350px;
        margin-bottom: 80px;
        img {
            width: 350px;
        }
        .deleteUpload {
            position: absolute;
            font-size: 36px;
            top: -15px;
            right: -15px;
            color: #4F63AC;
            cursor: pointer;
        }
    }

    .uploadInput {
        position: absolute;
        font-size: 350px;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }
}

.addForm {
    display: flex;
    gap: 70px;
    .input {
        width: 60%;
    }
    .submitBtn {
        width: 100%;
        height: 60px;
        margin-top: 60px;
    }

    .dropdown {
        border: 1px solid $secondary-color;
        border-radius: 10px;
        padding: 18px 16px;
        margin-bottom: 20px;

        
    }

    .dropdownArrow {
        margin-top: 12px;
        margin-right: 6px;
    }

    .dropdownPlaceholder {
        color: grey;
        font-size: 16px;   
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width: 768px) {
    .addForm {
        flex-direction: column;
        gap: 40px;

        .input {
            width: 100%;
        }
    }
}

